extends ../layout

block content
  h1 #{title}: #{bookinstance.id}
  
  p Bạn có thực sự muốn xóa BookInstance này không?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=bookinstance._id)

      button.btn.btn-primary(type='submit') Xóa
